#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #DEE4FF;
    color: #3C3246;
    overflow: hidden;
}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 1.5rem;
    color: #3C3246;
}
#header a:link, #header a:visited, #logout-form button {
    color: #3C3246;
}
.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: left;
    background: #DEE4FF;
    color: var(--header-link-color);
}
a.section:link, a.section:visited {
    color: #3C3246;
    text-decoration: none;
}
a:link, a:visited {
    color: #312939;
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}
div.breadcrumbs {
    background: #635B6B;
    padding: 10px 40px;
    border: none;
    color: var(--breadcrumbs-fg);
    text-align: left;
}
@media (prefers-color-scheme: dark) {
    td.dark-theme, th {
        font-size: 0.8125rem;
        line-height: 16px;
        border-bottom: 1px #DEE4FF;
        vertical-align: top;
        padding: 8px;
      }

element {

}
.dashboard .module table th {

    width: 100%;

}
.dashboard .module table th {

    width: 100%;

}
th {

    font-weight: 600;
    text-align: left;

}
td, th {

    font-size: 0.8125rem;
    line-height: 16px;
    border-bottom: 1px solid var(--hairline-color);
    vertical-align: top;
    padding: 8px;

}
.module table {

    border-collapse: collapse;

}
table {

    border-collapse: collapse;

}
body {

    font-size: 0.875rem;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: var(--body-fg);

}
:root {
    --primary: #79aec8;
    --secondary: #417690;
    --accent: #f5dd5d;
    --primary-fg: #fff;
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;
    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
    --link-fg: #447e9b;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
    --error-fg: #ba2121;
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
    --darkened-bg: #f8f8f8;
    --selected-bg: #e4e4e4;
    --selected-row: #ffc;
    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #609ab6;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888;
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);

}
}