{% extends 'index.html' %} {% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row font-weight-bold">
              <div class="col">Challenge</div>
              <div class="col">Sport</div>
              <div class="col">Type</div>
              <div class="col">Ending</div>
              <div class="col-1"></div>
          </div>
        </div>
          {% for challenge in challenges %}
            <div class="card-body">
              <div class="row">
                <div class="col"><a href="{% url 'challenge' challenge.id %}" aria-disabled="true">{{ challenge.name | safe }}</a></div>
                <div class="col">{{ challenge.sport_type }}</div>
                <div class="col">{{ challenge.type }}</div>
                <div class="col">{{ challenge.end_date }}</div>
                <div class="col-1">
                  {% if request.user in challenge.participants.all %}
                    <form method="post" class="float-right" action="{% url 'leave_challenge' %}">
                      <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-sm float-right">
                        Leave
                      </button>
                    </form>
                  {% else %}
                    <form method="post" class="float-right" action="{% url 'join_challenge' %}">
                      <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary btn-sm float-right">
                        Join
                      </button>
                    </form>
                  {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
    <div class="col-6">
      <div class="map-container">
          {{ main_map|safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
