<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>StravaMap</title>
  </head>

{% if not user.is_anonymous %}
    You're: {{ user }}
    <!--Begin Strava Disconnect Button-->
      <form class="form-inline my-2 my-lg-0">
          <a href="{% url 'logout' %}" class="btn btn-primary" role="button"
            aria-disabled="true">Logout</a>
      </form>
      <!--End Strava Connect Button-->
{% else %}
    <!--Begin Strava Connect Button-->
      <form class="form-inline my-2 my-lg-0">
              <a href="{% url 'social:begin' 'strava' %}" class="btn btn-primary" role="button"
            aria-disabled="true">Connect to Strava</a>
      </form>
      <!--End Strava Connect Button-->
{% endif %}

</html>