{% extends 'index.html' %} {% block header %}
{% load static %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
        <img src="{% static 'svg/logo.svg' %}" class="brand_img" height="40" width="70">
        Acitve Unity
    </a>
</nav>
{% endblock %} {% block content %}
<div class="jumbotron">
    {% comment %} <img src="{% static 'img/hiking.jpg' %}" class="img" width="100"> {% endcomment %}
  <p class="display-4 text-center">Hi, challengers!</p>
  <p class="lead text-center">
    {% comment %} This is a simple Django app with custom strava challenges {% endcomment %}
    Fit in Healthy harmony at work!
  </p>
  <hr class="my-4" />
  <form class="form-inline my-2 my-lg-0 d-flex justify-content-center">
    <a
      href="{% url 'social:begin' 'strava' %}"
      role="button"
      aria-disabled="true"
    >
      <img
        src="{% static 'svg/btn_strava_connectwith_orange.svg' %}"
        alt="strava button"
      />
    </a>
  </form>
</div>
{% endblock %}
